@use "@/config/variables" as *;

.page-footer {
  width: 100%;
  height: $page-footer-height;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: inset 0 1px 0 $body-background-color;
}
