@use "@/config/variables" as *;

.form-captcha {
  display: flex;
  justify-content: space-between;
  align-items: center;

  .form-captcha-input {
  }

  .form-captcha-img {
    margin-left: 10px;
    cursor: pointer;
    height: 30px;
  }
}
