@use "@/config/variables" as *;

.mobile-popup {
}

.mobile-popup-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border-bottom: 1px solid $body-background-color;
}

.mobile-popup-content {
  padding: 10px;
}
