@use "@/config/variables" as *;

.basic-info {
  background-color: white;
  margin-bottom: 5px;
  padding: 5px;
  width: 100%;
}

.basic-header-title {
  width: 100%;
  height: 20px;
  border-left: 4px solid $theme-primary-color;
  padding-left: 4px;
  font-size: $content-font-size;
}

.basic-header-icon {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding-left: 8px;
  border-bottom: 2px solid $body-background-color;
  height: 80px;

  .title {
    font-size: $content-font-size;
    display: flex;
    align-items: center;
  }

  .value {
    font-size: $content-font-size;

    .img-icon {
      width: 50px;
    }
  }
}

.basic-header-attr {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding-left: 8px;
  border-bottom: 2px solid $body-background-color;
  height: 50px;

  .title {
    font-size: $content-font-size;
    display: flex;
    align-items: center;
  }

  .value {
    font-size: $content-font-size;
    display: flex;
    align-items: center;
  }
}
