// 主题颜色
$theme-primary-color: var(--primary-color, #4a79d8);
// 背景颜色
$body-background-color: var(--body-background-color, #fdfdfd);

// 标题字体大小
$title-font-size: var(--content-font-size-middle, 16px);
// 内容字体大小
$content-font-size:var(--content-font-size, 12px);
