
.control-content{
  width: 30px;
  border-radius: 12px;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  position: absolute;
  top: 6px;
  left: 10px;
  padding: 4px 0;
  box-shadow: 3px 0 2px 1px rgb(228, 224, 219);
  .control-item{
    margin-top: 10px;
    margin-bottom: 10px;
  }
}
