@use "@/config/variables" as *;

.flow-view {
  background-color: white !important;
  width: 100%;
}

.flow-view-content {
  height: $page-content-height;
  overflow: auto;
}

.flow-view-footer{
  height: $page-footer-height;
  box-shadow: inset 0 1px 0 $body-background-color;
}
