@use "@/config/variables" as *;

$flow-footer-height: 80px;

.flow-skeleton-header {
  width: 100%;
  height: 40px;
}

.flow-skeleton-body {
  height: 60vh;
  width: 100%;
}

.flow-view {
  background-color: white !important;
  width: 100%;
}

.flow-view-content {
  height: calc(100vh - $page-header-height - $flow-footer-height);
  overflow: auto;
}

.flow-view-footer {
  height: $flow-footer-height;
  box-shadow: inset 0 1px 0 $body-background-color;
  display: flex;
  align-items: center;
  justify-content: center;

  .flow-view-footer-button {
    margin: 10px;
    font-size: 14px;
    padding: 8px 8px;
    width: 100%;
    border-color: $theme-primary-color;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

.flow-result-content {
  padding: 10px;

  .flow-result-content-item {
    display: flex;
    font-size: $content-font-size;
    margin-top: 10px;

    .flow-result-content-item-label {
      flex: 1;
      text-align: right;
      margin: 5px;
    }

    .flow-result-content-item-value {
      flex: 1;
      text-align: left;
      margin: 5px;
    }
  }

  .flow-result-content-footer {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;

    .flow-result-content-button {
      margin: 10px;
      font-size: $content-font-size;
      padding: 8px 8px;
      width: 40%;
      border-color: $theme-primary-color;
    }
  }
}

.flow-history-opinion-item {
  padding: 5px;
  font-size: $content-font-size;
  border-bottom: 1px solid $body-background-color;

  .flow-history-opinion-item-row {
    margin-top: 10px;

    span:first-child {
      font-weight: bold;
    }
  }
}

.flow-history {
  .flow-basic {

  }

  .flow-history-list {
    margin-top: 10px;

    .flow-history-list-item {
      padding: 5px;
      display: flex;
      flex-direction: row;
      margin-left: 10px;

      .flow-history-list-item-line {
        width: 30px;
        height: 30px;
        background-color: $theme-primary-color;
        border-radius: 50%;
        position: relative;
      }

      .flow-history-list-item-dot {
        content: '';
        position: absolute;
        top: 33px;
        left: 15px;
        width: 1px;
        height: calc(100% + 75px);
        background-color: $theme-primary-color;
        z-index: 0;
      }

      .flow-history-list-item-content {
        display: flex;
        flex-direction: column;
        margin-left: 10px;
        padding: 5px;

        .flow-history-list-item-title {
          font-size: $title-font-size;
          font-weight: bold;
        }

        .flow-history-list-item-attr {
          margin-top: 5px;
          font-size: $content-font-size;
        }
      }
    }
  }
}

.flow-chart {
  transition: 0.3s;
  border-radius: 12px;

  .flow-chart-content {
    width: 0;
    height: 0;
  }

  .flow-img {
    width: 100%;
    height: 100%;
  }
}
