.flow-modal.ant-modal {
  width: 100% !important;
  top: 0 !important;
  max-width: 100% !important;
}
.flow-modal.ant-modal.ant-modal-content {
  height: 100vh !important;
}

.flow-modal {
  margin: 0 !important;
  padding: 0 !important;
  width: 100vw !important;
  height: 100vh !important;
  overflow-y: hidden;

  .ant-modal-content{
    width: 100vw !important;
    height: 100vh !important;
  }

  .ant-modal-footer{
    margin: 0 !important;
  }
}

